<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="lib/normalize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:540px)" />
  <link rel="stylesheet" href="css/mobile2.css" media="screen and (max-width:350px)" />
  <title>土豆清单</title>
</head>
<body>
  <main id="main">
    <div class="navbar">
      <h1>土豆清单</h1>
    </div>
    <div class="header">
      削个土豆皮~
    </div>
    <form @submit.prevent="merge" id="task-form">
      <div class="wrapper">
        <div class="input clearfix">
          <input v-model="current.title" id="task-input" placeholder="添加新的任务..." type="text" autocomplete="off">
          <button class="primary" type="submit">提交</button>
        </div>

        <div v-if="current.id" class="detail">
          <textarea v-model="current.desc"></textarea>
          <input v-model="current.alert_at" type="datetime-local" >
        </div>
      </div>
    </form>
    <div class="task-list">
      <div class="wrapper">
        <div class="segment-title">未完成</div>
        <task :todo="todo"
              v-if="!todo.completed"
              v-for="(todo, index) in list"
        ></task>
      </div>
    </div>
    <div class="task-list">
      <div class="wrapper">
        <div class="segment-title">已完成</div>

        <div v-if="todo.completed" v-for="(todo, index) in list" class="item completed">
          <button @click="toggle_complete(todo.id)"class="toggle-complete" id="xx"></button>
          {{todo.title}}
          <button @click="remove(todo.id)" name="删除">删除</button>
        </div>
      </div>
    </div>
  </main>
  <audio id="alert-sound">
    <source src="sound/alert.mp3">
  </audio>
  <template id="task-tpl">
    <div  class="item">
      <div @click="action('toggle_complete', todo.id)" class="toggle-complete"></div>
      <span class="title">{{todo.title}}</span>
      <button @click="action('remove',todo.id)">删除</button>
      <button @click="action('set_current',todo)">编辑</button>
      <button @click="action('toggle_detail',todo.id)">显示详情</button>
      <div v-if="todo.show_detail" class="detail">
        {{todo.desc|| '暂无详情'}}
      </div>
    </div>
  </template>
  <script src="lib/vue.js"></script>
  <script src="js/myStorage.js" charset="utf-8"></script>
  <script src="js/main.js" charset="utf-8"></script>
</body>
</html>
